# Nombre de la base de datos que se va a respaldar
DB_NAME=

# Usuario de la base de datos
DB_USER=

# Contraseña de la base de datos
DB_PASSWORD=

# Host o IP del servidor de base de datos
DB_HOST=

# Nombre base del archivo de respaldo (se le agregará un timestamp o el nombre proporcionado en --name)
DB_FILENAME=

# Directorio donde se almacenarán los respaldos
DB_DIRECTORY=